﻿@model Clinica.Models.lista_medicamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>lista_medicamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.medicamento.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medicamento.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receta.id_receta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receta.id_receta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
