﻿@model Clinica.Models.cotizacion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_table_cliente.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>cotizacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.od_esf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.od_esf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.od_cil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.od_cil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.od_a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.od_a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oi_esf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oi_esf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oi_cil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oi_cil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oi_a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oi_a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelo_armazon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelo_armazon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medicamento.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medicamento.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_cristal.nombre_tipo_cristal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_cristal.nombre_tipo_cristal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_lente.nombre_tipo_lente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_lente.nombre_tipo_lente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tratamiento_lentes.nombre_tratamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tratamiento_lentes.nombre_tratamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
