﻿@model IEnumerable<Clinica.Models.cotizacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_table_cliente.cshtml";
}

<h4>Para editar una cotizacion despliege la tabla completamente usando&nbsp; <i class="glyphicon glyphicon-align-justify" aria-hidden="true"></i></h4>
@section head_table{
    <div class="row">
        <div class="col-lg-12 text-right">
            <button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("Create", "cotizacions")'"><i class="fa fa-plus"></i> Cotizacion</button>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <table id="grid" class="table">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Ojo derecho ESF
                    </th>
                    <th>
                        Ojo derecho CIL
                    </th>
                    <th>
                        Ojo derecho A
                    </th>
                    <th>
                        Ojo izquierdo ESF
                    </th>
                    <th>
                        Ojo izquierdo CIL
                    </th>
                    <th>
                        Ojo izquierdo A
                    </th>
                    <th>
                        Modelo armazon
                    </th>
                    <th>
                        Nombre lentes
                    </th>
                    <th>
                        Tipo cristal
                    </th>
                    <th>
                        Tipo lente
                    </th>
                    <th>
                        Tratamiento
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.usuario.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.od_esf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.od_cil)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.od_a)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.oi_esf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.oi_cil)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.oi_a)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.modelo_armazon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.medicamento.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tipo_cristal.nombre_tipo_cristal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tipo_lente.nombre_tipo_lente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tratamiento_lentes.nombre_tratamiento)
                        </td>

                        <td>
                            <button title="Detalles" type="button" class="btn btn-default" aria-label="Left Align" onclick="location.href='@Url.Action("Details", "cotizacions", new { id = item.id_cotizacion })'">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i> Detalle
                            </button>
                            &nbsp;
                            <button type="button" title="Editar" class="btn btn-primary" aria-label="Left Align" onclick="location.href='@Url.Action("Edit", "cotizacions", new { id = item.id_cotizacion })'">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                            </button>
                            &nbsp;
                            <button type="button" title="Eliminar" class="btn btn-danger" aria-label="Left Align" onclick="location.href='@Url.Action("Delete", "cotizacions", new { id = item.id_cotizacion })'">
                                <i class="fa fa-times" aria-hidden="true"></i> Elminar
                            </button>
                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#grid').DataTable();
        });
    </script>
}
