﻿@model IEnumerable<Clinica.Models.estado_cita>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@section head_table{
    <div class="row">
        <div class="col-lg-12 text-right">
            <button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("Create", "estado_cita")'"><i class="fa fa-plus"></i> Contacto</button>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_estado_cita }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_estado_cita }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_estado_cita })
        </td>
    </tr>
}

</table>
