﻿@model IEnumerable<Clinica.Models.AspNetRoles>

@{
    ViewBag.Title = "AdminRoles";

}

<h2>AdminRoles</h2>
@section head_table{
<div class="row">
    <div class="col-lg-12 text-right">
        <button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("CrearRoles", "Manage")'"><i class="fa fa-plus"></i> Rol</button>
    </div>
</div>
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <table id="grid" class="table">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    
                    <td>
                        <button title="Detalles" type="button" class="btn btn-default" aria-label="Left Align" onclick="location.href='@Url.Action("Details", "Manage", new { RoleName = item.Name })'">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i> Detalle
                        </button>
                        &nbsp;
                        <button type="button" title="Editar" class="btn btn-primary" aria-label="Left Align" onclick="location.href='@Url.Action("EditRoles", "Manage", new { RoleName = item.Name })'">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                        </button>
                        &nbsp;
                        <button type="button" title="Eliminar" class="btn btn-danger" aria-label="Left Align" onclick="location.href='@Url.Action("DeleteRoles", "Manage", new { RoleName = item.Name })'">
                            <i class="fa fa-times" aria-hidden="true"></i> Elminar
                        </button>

                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>
@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $('#grid').DataTable();
    });
</script>
}