﻿@model Clinica.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}

<h2>@ViewBag.Title.</h2>
<div class="container">
    <div class="space-div">
    </div>
    <div class="row">
        <div class="col-md-12">
            <header class="page-header">
                <h2 class="page-title">Opciones de usuario</h2>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-lg-offset-3">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-6 col-sm-offset-2">
                        <input class="btn btn-success pull-right" type="submit" value="Aceptar">
                    </div>
                </div>
            }
        </div>
    </div>
    
</div>
