﻿@model Clinica.Models.AspNetRoles

@{
    ViewBag.Title = "CrearRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CrearRoles</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>tipo usuario</h4>
        <hr />
        <div class="row">
            <div class="col-lg-7 col-lg-offset-2">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBox("RoleName", null, new { @class = "form-control" })
                        @*@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "control-label col-md-2" }})*@
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                    </div>
                </div>
            </div>

        </div>
    </div>

}

<div>
    <button type="button" class="btn btn-default" aria-label="Left Align" onclick="location.href='@Url.Action("AdminRoles", "Manage")'">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Regresar inicio
    </button>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
