﻿@model Clinica.Models.AspNetRoles

@{
    ViewBag.Title = "EditRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditRoles</h2>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>tipo_usuario</h4>
                <hr />
                <div class="row">
                    <div class="col-lg-7 col-lg-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            <label class="control-label col-md-2">Rol</label>
                            
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Name, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                                <input type="submit" value="Guardar" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div>
            <button type="button" class="btn btn-default" aria-label="Left Align" onclick="location.href='@Url.Action("AdminRoles", "Manage")'">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Regresar inicio
            </button>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
