﻿@model Clinica.Models.receta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>receta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_emitida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_emitida)
        </dd>

        <dt>
           Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre)
        </dd>

        <dt>
            Medico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario1.nombre)
        </dd>

        <dt>
            Item
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medicamento.nombre)
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_item)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-default" aria-label="Left Align" onclick="location.href='@Url.Action("Index", "recetas")'">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Regresar inicio
    </button>&nbsp;
    <button type="button" class="btn btn-primary" aria-label="Left Align" onclick="location.href='@Url.Action("Edit", "recetas", new { id = Model.id_receta })'">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp; Editar
    </button>
</p>
