﻿@model IEnumerable<Clinica.Models.receta>

@{
    ViewBag.Title = "Index";
}

<h2>Recetas</h2>

@section head_table{
    <div class="row">
        <div class="col-lg-12 text-right">
            <button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("Create", "recetas")'"><i class="fa fa-plus"></i>&nbsp; Receta</button>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <table id="grid" class="table">
            <thead>
                <tr>
                    <th>
                        Fecha emisión
                        
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                       Medico
                    </th>
                    <th>
                        Item
                    </th>
                    <th>
                        Descripcion
                    </th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.fecha_emitida)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.usuario.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.usuario1.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.medicamento.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion_item)
                        </td>
                        <td>
                            <button title="Detalles" type="button" class="btn btn-default" aria-label="Left Align" onclick="location.href='@Url.Action("Details", "recetas", new { id = item.id_receta })'">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i> Detalle
                            </button>
                            &nbsp;
                            <button type="button" title="Editar" class="btn btn-primary" aria-label="Left Align" onclick="location.href='@Url.Action("Edit", "recetas", new { id=item.id_receta})'">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                            </button>
                            &nbsp;
                            <button type="button" title="Eliminar" class="btn btn-danger" aria-label="Left Align" onclick="location.href='@Url.Action("Delete", "recetas", new { id = item.id_receta })'">
                                <i class="fa fa-times" aria-hidden="true"></i> Elminar
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
                    @section scripts{
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#grid').DataTable();
                            });
                        </script>
                    }