﻿@model Clinica.Models.tipo_usuario

@{
    ViewBag.Title = "Create";
}

<h2>Crear</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>tipo usuario</h4>
        <hr />
        <div class="row">
            <div class="col-lg-7 col-lg-offset-2">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.tipo_usuario1, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tipo_usuario1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tipo_usuario1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    <button type="button" class="btn btn-default" aria-label="Left Align" onclick="location.href='@Url.Action("Index", "tipo_usuario")'">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Regresar inicio
    </button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
