﻿@model IEnumerable<Clinica.Models.tipo_usuario>

@{
    ViewBag.Title = "Index";
}
@section head_table{
    <div class="row">
        <div class="col-lg-12 text-right">
            <button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("Create", "tipo_usuario")'"><i class="fa fa-plus"></i> Tipo Usuario</button>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <table id="grid" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.tipo_usuario1)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.tipo_usuario1)
                        </td>
                        <td>
                            <button type="button" title="Detalle" class="btn btn-default" aria-label="Left Align" onclick="location.href='@Url.Action("Details", "tipo_usuario", new { id = item.id_tipo_usuario })'">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i> &nbsp; Detalles
                            </button>
                            &nbsp;
                            <button type="button" title="Editar" class="btn btn-primary" aria-label="Left Align" onclick="location.href='@Url.Action("Edit", "tipo_usuario", new { id=item.id_tipo_usuario})'">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp; Editar
                            </button>
                            
                            
                            &nbsp;
                            <button type="button" title="Eliminar" class="btn btn-danger" aria-label="Left Align" onclick="location.href='@Url.Action("Delete", "tipo_usuario", new { id = item.id_tipo_usuario })'">
                                <i class="fa fa-times" aria-hidden="true"></i> &nbsp; Eliminar
                            </button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#grid').DataTable();
        });
    </script>
}
