﻿@model Clinica.Models.usuario
@{
    ViewBag.Title = "Confirmacion de Usuario";
    Layout = "~/Views/Shared/_Layout_user.cshtml";

}
<header id="head" class="secondary"></header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="page-header">
                <h2 class="page-title">Confirmacion de usuario</h2>
            </header>
        </div>
    </div>
    <div class="row">

        <div class="col-md-5 col-lg-offset-3">
            <p>Para completar el registro de usuario, complete el siguiente formulario</p>
            <br />
            @using (Html.BeginForm(FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-sm-12">
                        @Html.TextBoxFor(model => model.nombre, new { @class = "form-control", @placeholder = "Nombres" })<br />

                    </div>
                    <div class="col-sm-12">
                        @Html.TextBoxFor(model => model.apellido, new { @class = "form-control", @placeholder = "Apellidos" })<br />

                    </div>
                    <div class="col-sm-12">
                        @Html.TextBoxFor(model => model.telefono, new { @class = "form-control", @placeholder = "Telefono" })<br />
                        
                    </div>
                    <div class="col-sm-12">
                        @Html.TextBoxFor(model => model.edad, new { @class = "form-control", @placeholder = "Edad" })<br />
                        
                    </div>
                    <div class="col-sm-12">
                        @Html.TextAreaFor(model => model.direccion, new { @class = "form-control", @row = "3", @placeholder = "Direccion" })<br />
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6">
                        <input class="btn btn-success pull-right" type="submit" value="Aceptar">
                    </div>
                    <br />
                    <div style="color: Red">@ViewBag.Message</div>
                </div>
            }
        </div>
    </div>
</div>

