@model Clinica.Models.Login
@{
    ViewBag.Title = "Inicio de sesión";
    Layout = "~/Views/Shared/_Layout_basic.cshtml";
}
@section head{
    <link href="~/plugins/iCheck/all.css" rel="stylesheet" />
}
@section style_body{login-page}
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Clinica</b>TBC</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Bienvenido</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            //etiqueta form
            <div class="form-group has-feedback">
                @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control", @placeholder = "micorreo@mail.com" } })
                <span class="fi-torso form-control-feedback"></span>
                @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group has-feedback">
                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @placeholder = "**********" } })
                <span class="fi-key form-control-feedback"></span>
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Recordarme
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Ingresar</button>
                </div>
            </div>
            //fin etiqueta dorm

            @*<div class="social-auth-links text-center">
                    <p>- Por redes sociales -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
                    <a href="#" class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
                </div>*@
        <!-- /.social-auth-links -->

            @*<a href="#">¿Olvidasde tu contraseña?</a><br>
                <a href="register.html" class="text-center">Registrar nuevo miembro</a>*@
        }

    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
@section scripts{
    <script src="~/plugins/iCheck/icheck.min.js"></script>
    <script type="text/javascript">
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
    </script>
}