﻿@model Clinica.Models.medicamento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>medicamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            @{
                string dir_img = "";
                if (Model.imagen == "default-product-image.jpg")
                {
                    dir_img = "images";
                }
                else
                {
                    dir_img = "uploads";
                }
            }
            <img src="~/@dir_img/@Html.DisplayFor(model => model.imagen)" class="img-responsive" />
            @*<img src="~/images/@Html.DisplayFor(model => model.imagen)" class="img-responsive"/>*@
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_medicamento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
