﻿@model IEnumerable<Clinica.Models.medicamento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_table.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @{
                string dir_img = "";
                if (item.imagen == "default-product-image.jpg")
                {
                    dir_img = "images";
                }
                else
                {
                    dir_img = "uploads";
                }
            }
            <img src="~/@dir_img/@Html.DisplayFor(modelItem => item.imagen)" class="img-responsive" width="150"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_medicamento }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_medicamento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_medicamento })
        </td>
    </tr>
}

</table>
