﻿@model Clinica.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout_basic.cshtml";
}

@section head{
    <link href="~/plugins/iCheck/all.css" rel="stylesheet" />
}
@section style_body{login-page}
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Clinica</b>TBC</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Crear nueva cuenta</p>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                <span class="fi-torso form-control-feedback"></span>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

            </div>
            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                <span class="fi-key form-control-feedback"></span>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

            </div>
            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                <span class="fi-key form-control-feedback"></span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

            </div>
            <div class="row">
                <div class=" col-xs-offset-8 col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    <script src="~/plugins/iCheck/icheck.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
}