/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-09-2015, 02:42:04 PM
    Author     : adonay
*/
body{
  /* fallback */
  background-color: #7D7D7D;
  background-position: center center;
  background-repeat: no-repeat;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#689AA3), to(#212121));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #689AA3, #212121);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #689AA3, #212121);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #689AA3, #212121);

  /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
  height: 768px;
}
.login-form-container{
    margin-top: 15px !important;
}
.panel-default>.panel-heading{
    background-color: #fff;
}
.login-header{
    margin-top: 10px;
}
.panel-title{
    margin-top: 15px;
    font-size: 20px;
}
@media(min-width:768px){
    .login-form-container{
        width: 50%;
        margin: 0 auto;
    }
}

@media(min-width:1200px){
    .login-form-container{
        width: 40%;
        margin: 0 auto;
    }
}


