﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/adminLTE/css")
    @RenderSection("head", false)
    
</head>
<body class="@RenderSection("style_body")">
    @RenderBody()
    @Scripts.Render("~/adminLTE/basicjs")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>