﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/user/indexusercss")
</head>
<body>
    @Html.Partial("_Partial_Layout_user_nav_header")
    
        @RenderBody()

    @Html.Partial("_Partial_Layout_user_footer")
    @Scripts.Render("~/user/indexuserjs")
</body>
</html>
