﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/adminLTE/tablecss")
    @RenderSection("head", false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_Partial_Layout_nav_header")
        @Html.Partial("_Partial_Layout_nav_lateral")
        <div class="content-wrapper">
            @Html.Partial("_Partial_Layout_nav_header_info")
            <div class="content-header">
                @RenderSection("head_table", false)
            </div>
            <!-- Main content -->
            <section class="content">
                <!-- Your Page Content Here -->
                <div class="box">
                    @*<div class="box-header">
                        <h3 class="box-title">@ViewBag.NameTable</h3>
                    </div>*@<!-- /.box-header -->
                    <div class="box-body">
                        @RenderBody()
                    </div>
                </div>

            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        @Html.Partial("_Partial_Layout_footer")
        @Html.Partial("_Partial Layout_nav_lateral_right")
    </div>
    @Scripts.Render("~/adminLTE/tablejs")
    @RenderSection("scripts", required: false)
</body>
</html>
