﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/adminLTE/css")
    @RenderSection("head", false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_Partial_Layout_nav_header")
        @Html.Partial("_Partial_Layout_nav_lateral")
        <div class="content-wrapper">
            @Html.Partial("_Partial_Layout_nav_header_info")
            <!-- Main content -->
            <section class="content">
                <!-- Your Page Content Here -->
                @RenderBody()
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        @Html.Partial("_Partial_Layout_footer")
        @Html.Partial("_Partial Layout_nav_lateral_right")
    </div>
    @Scripts.Render("~/adminLTE/js")
    @RenderSection("scripts", required: false)
</body>
</html>
