﻿<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">HEADER</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="@Url.Action("Index", "usuarios")"><i class='fa fa-link'></i> <span>Usuarios</span></a></li>
            <li class=""><a href="@Url.Action("Index", "tipo_usuario")"><i class='fa fa-link'></i> <span>Tipos de Usuarios</span></a></li>
            <li class=""><a href="@Url.Action("Index", "clinicas")"><i class='fa fa-link'></i> <span>Clinicas</span></a></li>
            <li class=""><a href="@Url.Action("Index", "medicamentoes")"><i class='fa fa-link'></i> <span>Medicamentos</span></a></li>
            <li class=""><a href="@Url.Action("Index", "citas")"><i class='fa fa-link'></i> <span>Confirmar Cita</span></a></li>
            <li class=""><a href="@Url.Action("Index", "recetas")"><i class='fa fa-link'></i> <span>Recetas</span></a></li>
            <li class=""><a href="@Url.Action("Index", "ofertas")"><i class='fa fa-link'></i> <span>Ofertas</span></a></li>
            @*<li class=""><a href="@Url.Action("AdminRoles", "Manage")"><i class='fa fa-link'></i> <span>Roles</span></a></li>
            <li class=""><a href="@Url.Action("AdminRolesUsers", "Manage")"><i class='fa fa-link'></i> <span>Administrar roles de usuario</span></a></li>*@
                        
            <!--
            <li><a href="#"><i class='fa fa-link'></i> <span>Another Link</span></a></li>
            <li class="treeview">
                <a href="#"><i class='fa fa-link'></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>-->
        </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

