﻿<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Anything you want
    </div>
    <!-- Default to the left -->
    <strong>&copy; @DateTime.Now.Year <a href="#">The BeastCode</a>.</strong> Todos los derechos reservados.
</footer>