﻿@model Clinica.Models.ofertas

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
<link href="~/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
@*<link href="~/plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet" />*@
}
<h2>Ofertas</h2>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>ofertas</h4>
                <hr />
                <div class="row">
                    <div class="col-lg-7 col-lg-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.id_medicamentos, "id_medicamentos", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("id_medicamentos", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.id_medicamentos, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.descuento, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.descuento, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.descuento, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.fecha_inicio, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.fecha_inicio, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fecha_inicio, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.fecha_fin, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.fecha_fin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fecha_fin, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                                <input type="submit" value="Guardar" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div>
            <button type="button" class="btn btn-default" aria-label="Left Align" onclick="location.href='@Url.Action("Index", "ofertas")'">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Regresar inicio
            </button>
        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-md-3">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h4 class="box-title">Eventos arrastrables</h4>
            </div>
            <div class="box-body">
                <!-- the events -->
                <div id="external-events">
                    <div class="external-event bg-green ui-draggable ui-draggable-handle" style="position: relative; z-index: auto; left: 0px; top: 0px;">Lanzar</div>
                    <div class="external-event bg-yellow ui-draggable ui-draggable-handle" style="position: relative;">Ir a casa</div>
                    <div class="external-event bg-aqua ui-draggable ui-draggable-handle" style="position: relative;">Tareas hogareñas</div>
                    <div class="external-event bg-light-blue ui-draggable ui-draggable-handle" style="position: relative;">Trabajar en diseño</div>
                    <div class="external-event bg-red ui-draggable ui-draggable-handle" style="position: relative;">Tomar un siesta</div>
                    <div class="checkbox">
                        <label for="drop-remove">
                            <input type="checkbox" id="drop-remove">
                            remover luego de arrastrar
                        </label>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /. box -->
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Crear evento</h3>
            </div>
            <div class="box-body">
                <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                    <!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
                    <ul class="fc-color-picker" id="color-chooser">
                        <li><a class="text-aqua" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-blue" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-light-blue" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-teal" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-yellow" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-orange" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-green" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-lime" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-red" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-purple" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-fuchsia" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-muted" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-navy" href="#"><i class="fa fa-square"></i></a></li>
                    </ul>
                </div><!-- /btn-group -->
                <div class="input-group">
                    <input id="new-event" type="text" class="form-control" placeholder="Titulo del evento">
                    <div class="input-group-btn">
                        <button id="add-new-event" type="button" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i></button>
                    </div><!-- /btn-group -->
                </div><!-- /input-group -->
            </div>
        </div>
    </div><!-- /.col -->
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-body no-padding">
                <!-- THE CALENDAR -->
                <div id="calendar" class="fc fc-ltr fc-unthemed"></div>
                </div><!-- /.box-body -->
        </div><!-- /. box -->
    </div><!-- /.col -->
</div>*@
@section scripts{
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js" type="text/javascript"></script>
<script src="~/plugins/fullcalendar/fullcalendar.min.js"></script>
@Scripts.Render("~/bundles/jqueryval")
    <!-- Page specific script -->
    <script type="text/javascript">
        $(document).ready(function () {
            var f_init = calendario('fecha_inicio');
            var f_end = calendario('fecha_fin');
            validateFloatPositive('descuento');
            /* initialize the external events
             -----------------------------------------------------------------*/
            function ini_events(ele) {
                ele.each(function () {

                    // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                    // it doesn't need to have a start or end
                    var eventObject = {
                        title: $.trim($(this).text()) // use the element's text as the event title
                    };

                    // store the Event Object in the DOM element so we can get to it later
                    $(this).data('eventObject', eventObject);

                    // make the event draggable using jQuery UI
                    $(this).draggable({
                        zIndex: 1070,
                        revert: true, // will cause the event to go back to its
                        revertDuration: 0  //  original position after the drag
                    });

                });
            }
            ini_events($('#external-events div.external-event'));

            /* initialize the calendar
             -----------------------------------------------------------------*/
            //Date for the calendar events (dummy data)
            var date = new Date();
            var d = date.getDate(),
                    m = date.getMonth(),
                    y = date.getFullYear();
            //$('#calendar').fullCalendar({
            //    events: [
            //        // events here
            //    ],
            //    editable: true,
            //    eventResize: function(event,dayDelta,minuteDelta,revertFunc) {

            //        alert(
            //            "The end date of " + event.title + "has been moved " +
            //            dayDelta + " days and " +
            //            minuteDelta + " minutes."
            //        );

            //        if (!confirm("is this okay?")) {
            //            revertFunc();
            //        }

            //    }
            //});
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                buttonText: {
                    today: 'today',
                    month: 'month',
                    week: 'week',
                    day: 'day'
                },
                eventDragStart: function (event, jsEvent, ui, view) {
                    console.log('DRAG START ' + event.title);
                    console.log(this);
                },
                eventDragStop: function (event, jsEvent, ui, view) {
                    console.log('DRAG STOP ' + event.title);
                    console.log(this);
                },
                eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) {
                    console.log('DROP ' + event.title);
                    console.log(dayDelta + ' days'); //this will give the number of days you dragged before or after
                    console.log(minuteDelta + ' minutes');
                    console.log('allday: ' + allDay);

                },
                eventResize: function(event,dayDelta,minuteDelta,revertFunc) {

                    console.log(event.start._d);
                    console.log(event.end._d);

                },
                //Random default events
                
                //events: [
                //  {
                //      title: 'All Day Event',
                //      start: new Date(y, m, 1),
                //      backgroundColor: "#f56954", //red
                //      borderColor: "#f56954" //red
                //  },
                //  {
                //      title: 'Long Event',
                //      start: new Date(y, m, d - 5),
                //      end: new Date(y, m, d - 2),
                //      backgroundColor: "#f39c12", //yellow
                //      borderColor: "#f39c12" //yellow
                //  },
                //  {
                //      title: 'Meeting',
                //      start: new Date(y, m, d, 10, 30),
                //      allDay: false,
                //      backgroundColor: "#0073b7", //Blue
                //      borderColor: "#0073b7" //Blue
                //  },
                //  {
                //      title: 'Lunch',
                //      start: new Date(y, m, d, 12, 0),
                //      end: new Date(y, m, d, 14, 0),
                //      allDay: false,
                //      backgroundColor: "#00c0ef", //Info (aqua)
                //      borderColor: "#00c0ef" //Info (aqua)
                //  },
                //  {
                //      title: 'Birthday Party',
                //      start: new Date(y, m, d + 1, 19, 0),
                //      end: new Date(y, m, d + 1, 22, 30),
                //      allDay: false,
                //      backgroundColor: "#00a65a", //Success (green)
                //      borderColor: "#00a65a" //Success (green)
                //  },
                //  {
                //      title: 'Click for Google',
                //      start: new Date(y, m, 28),
                //      end: new Date(y, m, 29),
                //      url: 'http://google.com/',
                //      backgroundColor: "#3c8dbc", //Primary (light-blue)
                //      borderColor: "#3c8dbc" //Primary (light-blue)
                //  }
                //],
                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar !!!
                drop: function (date, allDay) { // this function is called when something is dropped
                    console.log(date);
                    // retrieve the dropped element's stored Event Object
                    var originalEventObject = $(this).data('eventObject');

                    // we need to copy it, so that multiple events don't have a reference to the same object
                    var copiedEventObject = $.extend({}, originalEventObject);

                    // assign it the date that was reported
                    copiedEventObject.start = date;
                    copiedEventObject.allDay = allDay;
                    copiedEventObject.backgroundColor = $(this).css("background-color");
                    copiedEventObject.borderColor = $(this).css("border-color");

                    // render the event on the calendar
                    // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }

                }

            });

            /* ADDING EVENTS */
            var currColor = "#3c8dbc"; //Red by default
            //Color chooser button
            var colorChooser = $("#color-chooser-btn");
            $("#color-chooser > li > a").click(function (e) {
                e.preventDefault();
                //Save color
                currColor = $(this).css("color");
                //Add color effect to button
                $('#add-new-event').css({ "background-color": currColor, "border-color": currColor });
            });
            $("#add-new-event").click(function (e) {
                e.preventDefault();
                //Get value and make sure it is not null
                var val = $("#new-event").val();
                if (val.length == 0) {
                    return;
                }

                //Create events
                var event = $("<div />");
                event.css({ "background-color": currColor, "border-color": currColor, "color": "#fff" }).addClass("external-event");
                event.html(val);
                $('#external-events').prepend(event);

                //Add draggable funtionality
                ini_events(event);

                //Remove event from text input
                $("#new-event").val("");
            });
        });
        function calendario(idElement){
            return $("#"+idElement).datepicker({
                dateFormat: 'yy-mm-dd'
            });
        }
    </script>
}
