﻿@model IEnumerable<Clinica.Models.ofertas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@section head_table{
    <div class="row">
        <div class="col-lg-12 text-right">
            <button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("Create", "ofertas")'"><i class="fa fa-plus"></i> Oferta</button>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <table id="grid" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.descuento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fecha_inicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fecha_fin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.medicamento.nombre)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.descuento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fecha_inicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fecha_fin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.medicamento.nombre)
                        </td>
                        <td>
                            <button title="Detalles" type="button" class="btn btn-default" aria-label="Left Align" onclick="location.href='@Url.Action("Details", "ofertas", new { id = item.id_ofertas })'">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i> Detalle
                            </button>
                            &nbsp;
                            <button type="button" title="Editar" class="btn btn-primary" aria-label="Left Align" onclick="location.href='@Url.Action("Edit", "ofertas", new { id = item.id_ofertas })'">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                            </button>
                            &nbsp;
                            <button type="button" title="Eliminar" class="btn btn-danger" aria-label="Left Align" onclick="location.href='@Url.Action("Delete", "ofertas", new { id = item.id_ofertas })'">
                                <i class="fa fa-times" aria-hidden="true"></i> Elminar
                            </button>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#grid').DataTable();
        });
    </script>
}