﻿@model IEnumerable<Clinica.Models.ofertas>

@{
    ViewBag.Title = "OfertasCliente";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}

<h2>OfertasCliente</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.medicamento.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.medicamento.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_ofertas }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_ofertas }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_ofertas })
        </td>
    </tr>
}

</table>
