﻿@model Clinica.Models.usuario

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_usuario.tipo_usuario1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_usuario.tipo_usuario1)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-default" aria-label="Left Align" onclick="location.href='@Url.Action("Index", "usuarios")'">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Regresar inicio
    </button>&nbsp;
    <button type="button" class="btn btn-primary" aria-label="Left Align" onclick="location.href='@Url.Action("Edit", "usuarios", new { id = Model.id_usuario })'">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp; Editar
    </button>
</p>
