﻿@model IEnumerable<Clinica.Models.usuario>

@{
    ViewBag.Title = "Index";
}
<h2>Usuarios</h2>

@section head_table{
    <div class="row">
        <div class="col-lg-12 text-right">
            <button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("Create", "usuarios")'"><i class="fa fa-plus"></i> Contacto</button>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <table id="grid" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.correo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.edad)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.password)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.tipo_usuario.tipo_usuario1)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.correo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.edad)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.password)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelitem => item.tipo_usuario.tipo_usuario1)<br />
                            
                            @*<a href="@Url.Action("AdminRolesUsers", "Manage", new { id = item.id_usuario })">Editar rol</a>*@
                            @*@Html.ActionLink("Editar Rol", "AdminRolesUsers", "Manage", new { id = item.id_rol_asp })*@
                        </td>
                        <td>
                            <button title ="Detalles" type="button" class="btn btn-default" aria-label="Left Align" onclick="location.href='@Url.Action("Details", "usuarios", new { id = item.id_usuario })'">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i> Detalle
                            </button>
                            &nbsp;
                            <button type="button" title="Editar" class="btn btn-primary" aria-label="Left Align" onclick="location.href='@Url.Action("Edit", "usuarios", new { id=item.id_usuario})'">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                            </button>
                            &nbsp;
                            <button type="button" title="Eliminar" class="btn btn-danger" aria-label="Left Align" onclick="location.href='@Url.Action("Delete", "usuarios", new { id = item.id_usuario })'">
                                <i class="fa fa-times" aria-hidden="true"></i> Elminar
                            </button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#grid').DataTable();
        });
    </script>
}