﻿@model Clinica.Models.cita

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>cita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clinica.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clinica.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_cita.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_cita.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario1.nombre)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-default" aria-label="Left Align" onclick="location.href='@Url.Action("Index", "citas")'">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Regresar inicio
    </button>&nbsp;
    <button type="button" class="btn btn-primary" aria-label="Left Align" onclick="location.href='@Url.Action("Edit", "citas", new { id = Model.id_cita })'">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp; Editar
    </button>
</p>
