﻿@model IEnumerable<Clinica.Models.cita>

@{
    ViewBag.Title = "Index";
}

<h2>Citas</h2>
@section head_table{
    <div class="row">
        <div class="col-lg-12 text-right">
            <button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("Create", "citas")'"><i class="fa fa-plus"></i> Cita</button>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <table id="grid" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.clinica.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.estado_cita.estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.usuario.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.usuario1.nombre)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.clinica.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.estado_cita.estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.usuario.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.usuario1.nombre)
                        </td>
                        <td>
                            <button type="button" title="Detalles" class="btn btn-primary" aria-label="Left Align" onclick="location.href='@Url.Action("Edit", "citas", new { id = item.id_cita })'">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i> Detalle
                            </button>
                            &nbsp;
                            <button type="button" title="Editar" class="btn btn-default" aria-label="Left Align" onclick="location.href='@Url.Action("Details", "citas", new { id = item.id_cita })'">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                            </button>
                            &nbsp;
                            <button type="button" title="Eliminar" class="btn btn-danger" aria-label="Left Align" onclick="location.href='@Url.Action("Delete", "citas", new { id = item.id_cita })'">
                                <i class="fa fa-times" aria-hidden="true"></i> Elminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#grid').DataTable();
        });
    </script>
}